<%=render :partial=> 'shared/error_messages',:locals=>{:obj=>@user}%>

<%= form_for(@user,:action=>'create', :remote=>:true,:format=>:js,:id=>'subscribe-form') do |f| %>

<div class="cover">
<div class="subscribe">
	<div class="logo">
	 <p class="topone" align="center">	<%= image_tag "Klink.png"%><h2> Coming Soon </h2> </p>
	<p><h3>A safe and fun way for people to connect with those around<br/>
		them during the course of their everyday lives</h3> </p>
	</div> 
</div><br/>
<div class="subscribe2">
  <div class="textbox"><%= f.text_field :email_address, :value=>"Enter your email address", :id=>'txt_email_address' %></div>

 <div class="subscribe-link"><%= link_to "subscribe","/users", :method=>:post,:remote=>:true, :onClick=>"void(0);",:class=>"button super red",:id=>"subscribe-link"%> </div>
</div>
</div>

<% end %>